<%= form_with(model: board, local: true) do |form| %>
    <% if board.errors.any? %>
	<div id="error_explanation">
	    <h2><%= pluralize(board.errors.count, "error") %> prohibited this board from being saved:</h2>

	    <ul>
		<% board.errors.full_messages.each do |message| %>
		    <li><%= message %></li>
		<% end %>
	    </ul>
	</div>
    <% end %>

    <div class="actions">
	<%= form_with scope: :board, local: true do |form| %>
	    <p>
		<%= form.label :title %><br>
		<%= form.text_field :title %>
	    </p>

	    <p>
		<%= form.label :event_on %><br>
		<%= form.date_field :event_on %>
	    </p>

	    <p>
		<%= form.submit %>
	    </p>
	<% end %>
    </div>
<% end %>
