<p id="notice"><%= notice %></p>

<h1>
  <strong><%= @board.title %></strong>
  | 開催時間: <%= @board.event_on %>
</h1>

<div class="container">
    <div class="row">
	<div class="col-6">
	    <strong> KEEP </strong>
	    <ul class="list-group">
		<% @keeps.each do |keep| %>
		    <li class="list-group-item">
			<div class="d-flex bd-highlight">
			    <div class="p-2 flex-grow-1 bd-highlight">
				<%= keep.title %>
			    </div>
			    <div class="mr-auto p-2 bd-highlight">
				<%= link_to new_card_comment_path(keep), class: 'btn btn-outline-primary' do %>
				    <i class="far fa-comments"></i></button>
				<% end %>

			    </div>

			    <div class="p-2 bd-highlight">
				<%= link_to card_path(keep), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger' do %>
				    <i class="fas fa-trash-alt"></i>
				<% end %>
			    </div>
			</div>
		    </li>
		    <% keep.comments.each do |comment| %>
			<li class="list-group-item">
			    <div class="d-flex bd-highlight">
				<div class="mr-auto p-2 bd-highlight">
				    <i class="far fa-comments"></i>
				</div>
				<div class="p-2 flex-grow-1 bd-highlight">
				     <%= comment.content %>
				</div>
				<div class="p-2 bd-highlight">
				    <%= link_to edit_comment_path(comment), class: 'btn btn-outline-primary' do %>
					<i class="fas fa-edit"></i>
				    <% end %>
				</div>
				<div class="p-2 bd-highlight">
				    <%= link_to card_path(keep), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger' do %>
					<i class="fas fa-trash-alt"></i>
				    <% end %>
				</div>
			    </div>
			</li>
		    <% end %>
		<% end %>
	</div>

	<div class="col-6">
	    <strong> Problem </strong>

	    <ul class="list-group">
		<% @problems.each do |problem| %>
		    <li class="list-group-item">
			<div class="d-flex bd-highlight">
			    <div class="p-2 flex-grow-1 bd-highlight">
				<%= problem.title %>
			    </div>
			    <div class="p-2 bd-highlight">
				<%= link_to card_path(problem), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger' do %>
				    <i class="fas fa-trash-alt"></i>
				<% end %>
			    </div>
			</div>
		    </li>
		    <% problem.comments.each do |comment| %>
			<li class="list-group-item">
			    <div class="d-flex bd-highlight">
				<div class="mr-auto p-2 bd-highlight">
				    <i class="far fa-comments"></i>
				</div>
				<div class="p-2 flex-grow-1 bd-highlight">
				     <%= comment.content %>
				</div>
				<div class="p-2 bd-highlight">
				    <%= link_to card_path(problem), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-primary' do %>
					<i class="fas fa-edit"></i>
				    <% end %>
				</div>
				<div class="p-2 bd-highlight">
				    <%= link_to card_path(problem), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger' do %>
					<i class="fas fa-trash-alt"></i>
				    <% end %>
				</div>
			    </div>
			</li>
		    <% end %>
		<% end %>
	    </ul>
	</div>
    </div>
</div>

<%= form_with(model: @card, local: true, url: board_cards_path(@board)) do |form| %>
    <% if @card.errors.any? %>
	<div id="error_explanation">
	    <h2><%= pluralize(@card.errors.count, "error") %> prohibited this @card from being saved:</h2>

	    <ul>
		<% @card.errors.full_messages.each do |message| %>
		    <li><%= message %></li>
		<% end %>
	    </ul>
	</div>
    <% end %>

    <div class="field">
	<%= form.label :category %>
	<%= form.select :category, [:keep, :problem], {}, class: 'custom-select' %>
    </div>

    <div class="field">
	<%= form.label :title %>
	<%= form.text_area :title, class: 'col' %>
    </div>

    <%= form.submit('保存', class: 'btn btn-outline-primary') %>
<% end %>

<%= link_to '編集', edit_board_path(@board), class: 'btn btn-outline-dark' %>
<%= link_to '戻る', boards_path, class: 'btn btn-outline-dark' %>
