<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @board.title %>
</p>

<p>
  <strong>Event on:</strong>
  <%= @board.event_on %>
</p>

<%= link_to '編集', edit_board_path(@board), class: 'btn btn-outline-dark' %>
<%= link_to '戻る', boards_path, class: 'btn btn-outline-dark' %>
