<p id="notice"><%= notice %></p>

<p>
  <strong><%= @board.title %></strong>
  | 開催時間: <%= @board.event_on %>
</p>

<div class="container">
    <div class="row">
	<div class="col-sm-6">
	    <strong> KEEP </strong>
	    <ul class="list-group">
		<% @keeps.each do |keep| %>
		    <li class="list-group-item"> <%= keep.title %> </li>
		<% end %>
	    </ul>
	</div>

	<div class="col-sm-6">
	    <strong> Problem </strong>

	    <ul class="list-group">
		<% @problems.each do |problem| %>
		    <li class="list-group-item"> <%= problem.title %> </li>
		<% end %>
	    </ul>
	</div>
    </div>
</div>
<%= link_to '編集', edit_board_path(@board), class: 'btn btn-outline-dark' %>
<%= link_to '戻る', boards_path, class: 'btn btn-outline-dark' %>
